html {
  font-size: 10px;
}
body {
  margin: 0;
}
span{
  &.ant-menu-title-content{
    font-size: 1.4rem !important;
  }  
}
input{
  font-size: 1.2rem !important; 
}
.formInput {
  width: 100%;
  margin-bottom: 2.2rem;
  label {
      font-size: 1.4rem !important;
      font-weight: 500 !important;
      &::before {
          font-size: 1.4rem !important;
      }
  }
}
.inputField {
  height: 4rem;
}
.ant-menu-item{
  
  
  a{
    font-size: 1.4rem !important;
  }
}
@media only screen and (max-width: 768px) {
  .ant-layout-sider {
    position: fixed !important;
    z-index: 99;
  }
  
}
